[include]
	path = .gitremotes
	path = .borgconfig
[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
	ignore = untracked
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
	ignore = untracked
[submodule "atcoder-tools"]
	path = lib/atcoder-tools
	url = https://github.com/zkazure/emacs-atcoder-tools.git
	ignore = untracked
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	ignore = untracked
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
	ignore = untracked
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
	ignore = untracked
[submodule "breadcrumb"]
	path = lib/breadcrumb
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
	ignore = untracked
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
	ignore = untracked
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex
	ignore = untracked
[submodule "citar"]
	path = lib/citar
	url = https://github.com/emacs-citar/citar
	ignore = untracked
[submodule "citar-org-roam"]
	path = lib/citar-org-roam
	url = https://github.com/emacs-citar/citar-org-roam
	ignore = untracked
[submodule "cmake-mode"]
	path = lib/cmake-mode
	url = https://github.com/emacsmirror/cmake-mode
	ignore = untracked
[submodule "colorful-mode"]
	path = lib/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode
	ignore = untracked
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
	ignore = untracked
[submodule "consult-yasnippet"]
	path = lib/consult-yasnippet
	url = https://github.com/mohkale/consult-yasnippet
	ignore = untracked
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
	ignore = untracked
[submodule "csv-mode"]
	path = lib/csv-mode
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
	ignore = untracked
[submodule "cuda-mode"]
	path = lib/cuda-mode
	url = https://github.com/chachi/cuda-mode
	ignore = untracked
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
	ignore = untracked
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
	ignore = untracked
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl
	ignore = untracked
[submodule "dumb-jump"]
	path = lib/dumb-jump
	url = https://github.com/jacktasia/dumb-jump
	ignore = untracked
[submodule "ebib"]
	path = lib/ebib
	url = https://github.com/joostkremers/ebib
	ignore = untracked
[submodule "eglot-booster"]
	path = lib/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster.git
	ignore = untracked
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
	ignore = untracked
[submodule "envrc"]
	path = lib/envrc
	url = https://github.com/purcell/envrc
	ignore = untracked
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
	ignore = untracked
[submodule "expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el
	ignore = untracked
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh
	ignore = untracked
[submodule "gdscript-mode"]
	path = lib/gdscript-mode
	url = https://github.com/godotengine/emacs-gdscript-mode/
	ignore = untracked
[submodule "ghostel"]
	path = lib/ghostel
	url = https://github.com/dakra/ghostel.git
	ignore = untracked
[submodule "go-mode"]
	path = lib/go-mode
	url = https://github.com/dominikh/go-mode.el
	ignore = untracked
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
	ignore = untracked
[submodule "gptel-magit"]
	path = lib/gptel-magit
	url = https://github.com/ragnard/gptel-magit
	ignore = untracked
[submodule "gt"]
	path = lib/gt
	url = https://github.com/lorniu/gt.el
	ignore = untracked
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful
	ignore = untracked
[submodule "highlight-parentheses"]
	path = lib/highlight-parentheses
	url = https://sr.ht/~tsdh/highlight-parentheses.el/
	ignore = untracked
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/zkazure/hydra.git
	branch = zkazure/lexical-binding-cookie
	ignore = untracked
[submodule "imenu-list"]
	path = lib/imenu-list
	url = https://github.com/zkazure/imenu-list.git
	branch = zkazure/lexical-binding-cookie
	ignore = untracked
[submodule "jinx"]
	path = lib/jinx
	url = https://github.com/minad/jinx
	ignore = untracked
[submodule "leetcode"]
	path = lib/leetcode
	url = https://github.com/zkazure/leetcode.el.git
	ignore = untracked
[submodule "link-hint"]
	path = lib/link-hint
	url = https://github.com/noctuid/link-hint.el
	ignore = untracked
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
	ignore = untracked
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
	ignore = untracked
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
	ignore = untracked
[submodule "matlab-mode"]
	path = lib/matlab-mode
	url = https://github.com/mathworks/Emacs-MATLAB-Mode
	ignore = untracked
[submodule "mermaid-mode"]
	path = lib/mermaid-mode
	url = https://github.com/abrochard/mermaid-mode
	ignore = untracked
[submodule "move-text"]
	path = lib/move-text
	url = https://github.com/emacsfodder/move-text
	ignore = untracked
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
	ignore = untracked
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
	ignore = untracked
[submodule "nerd-icons-completion"]
	path = lib/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion
	ignore = untracked
[submodule "nerd-icons-corfu"]
	path = lib/nerd-icons-corfu
	url = https://github.com/LuigiPiucco/nerd-icons-corfu
	ignore = untracked
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
	ignore = untracked
[submodule "nerd-icons-speedbar"]
	path = lib/nerd-icons-speedbar
	url = https://github.com/Akane-6730/nerd-icons-speedbar.git
	ignore = untracked
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
	ignore = untracked
[submodule "ob-mermaid"]
	path = lib/ob-mermaid
	url = https://github.com/arnm/ob-mermaid
	ignore = untracked
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
	ignore = untracked
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
	ignore = untracked
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear
	ignore = untracked
[submodule "org-count-words"]
	path = lib/org-count-words
	url = https://github.com/zkazure/org-count-words.git
	ignore = untracked
[submodule "org-fragtog"]
	path = lib/org-fragtog
	url = https://github.com/io12/org-fragtog
	ignore = untracked
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam
	ignore = untracked
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui
	ignore = untracked
[submodule "org-super-agenda"]
	path = lib/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda
	ignore = untracked
[submodule "org-transclusion"]
	path = lib/org-transclusion
	url = https://github.com/nobiot/org-transclusion
	ignore = untracked
[submodule "ox-gfm"]
	path = lib/ox-gfm
	url = https://github.com/larstvei/ox-gfm
	ignore = untracked
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
	ignore = untracked
[submodule "ox-pandoc"]
	path = lib/ox-pandoc
	url = https://github.com/emacsorphanage/ox-pandoc
	ignore = untracked
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
	ignore = untracked
[submodule "pyim"]
	path = lib/pyim
	url = https://github.com/tumashu/pyim
	ignore = untracked
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
	ignore = untracked
[submodule "rime"]
	path = lib/rime
	url = https://www.github.com/DogLooksGood/emacs-rime
	ignore = untracked
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
	ignore = untracked
[submodule "sudo-edit"]
	path = lib/sudo-edit
	url = https://github.com/nflath/sudo-edit
	ignore = untracked
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save
	ignore = untracked
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = https://github.com/wolray/symbol-overlay/
	ignore = untracked
[submodule "unfill"]
	path = lib/unfill
	url = https://github.com/purcell/unfill
	ignore = untracked
[submodule "valign"]
	path = lib/valign
	url = https://github.com/casouri/valign
	ignore = untracked
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
	ignore = untracked
[submodule "vertico-buffer-frame"]
	path = lib/vertico-buffer-frame
	url = https://github.com/kn66/vertico-buffer-frame.git
	ignore = untracked
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column
	ignore = untracked
[submodule "visual-regexp"]
	path = lib/visual-regexp
	url = https://github.com/zkazure/visual-regexp.el.git
	branch = zkazure/lexical-binding-cookie
	ignore = untracked
[submodule "visual-regexp-rx"]
	path = lib/visual-regexp-rx
	url = https://github.com/zkazure/visual-regexp-rx.el.git
	ignore = untracked
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
	ignore = untracked
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket
	ignore = untracked
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
	ignore = untracked
[submodule "which-key-posframe"]
	path = lib/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
	ignore = untracked
[submodule "whole-line-or-region"]
	path = lib/whole-line-or-region
	url = https://github.com/purcell/whole-line-or-region
	ignore = untracked
[submodule "x86-lookup"]
	path = lib/x86-lookup
	url = https://github.com/skeeto/x86-lookup
	ignore = untracked
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
	ignore = untracked
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
	ignore = untracked
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
	ignore = untracked
[submodule "aio"]
	path = lib/aio
	url = https://github.com/skeeto/emacs-aio
	ignore = untracked
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
	ignore = untracked
[submodule "xr"]
	path = lib/xr
	url = https://github.com/mattiase/xr
	ignore = untracked
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
	ignore = untracked
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
	ignore = untracked
[submodule "ts"]
	path = lib/ts
	url = https://github.com/alphapapa/ts.el
	ignore = untracked
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue.git
	ignore = untracked
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
	ignore = untracked
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
	ignore = untracked
[submodule "ansi"]
	path = lib/ansi
	url = http://github.com/rejeep/ansi
	ignore = untracked
[submodule "epl"]
	path = lib/epl
	url = http://github.com/cask/epl
	ignore = untracked
[submodule "popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el
	ignore = untracked
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
	ignore = untracked
[submodule "shut-up"]
	path = lib/shut-up
	url = http://github.com/rejeep/shut-up.el
	ignore = untracked
[submodule "gntp"]
	path = lib/gntp
	url = https://github.com/tekai/gntp.el
	ignore = untracked
[submodule "log4e"]
	path = lib/log4e
	url = https://github.com/zkazure/log4e.git
	branch = zkazure/lexical-binding-cookie
	ignore = untracked
[submodule "pdd"]
	path = lib/pdd
	url = https://github.com/lorniu/pdd.el
	ignore = untracked
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
	ignore = untracked
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect
	ignore = untracked
[submodule "citeproc"]
	path = lib/citeproc
	url = https://github.com/andras-simonyi/citeproc-el
	ignore = untracked
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib
	ignore = untracked
[submodule "parseclj"]
	path = lib/parseclj
	url = https://github.com/clojure-emacs/parseclj
	ignore = untracked
[submodule "parseedn"]
	path = lib/parseedn
	url = https://github.com/clojure-emacs/parseedn
	ignore = untracked
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr
	ignore = untracked
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize
	ignore = untracked
[submodule "cond-let"]
	path = lib/cond-let
	url = https://github.com/tarsius/cond-let.git
	ignore = untracked
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama.git
	ignore = untracked
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
	ignore = untracked
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql.git
	ignore = untracked
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql.git
	ignore = untracked
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
	ignore = untracked
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
	ignore = untracked
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
	ignore = untracked
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
	ignore = untracked
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
	ignore = untracked
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
	ignore = untracked
[submodule "bui"]
	path = lib/bui
	url = https://github.com/alezost/bui.el
	ignore = untracked
[submodule "whitespace-cleanup-mode"]
	path = lib/whitespace-cleanup-mode
	url = https://github.com/purcell/whitespace-cleanup-mode
	ignore = untracked
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode
	ignore = untracked
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
	ignore = untracked
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = https://github.com/skeeto/skewer-mode
	ignore = untracked
[submodule "web-server"]
	path = lib/web-server
	url = https://github.com/eschulte/emacs-web-server
	ignore = untracked
[submodule "request"]
	path = lib/request
	url = https://github.com/tkf/emacs-request
	ignore = untracked
[submodule "deferred"]
	path = lib/deferred
	url = https://github.com/kiwanami/emacs-deferred
	ignore = untracked
[submodule "deflate"]
	path = lib/deflate
	url = https://github.com/skuro/deflate
	ignore = untracked
[submodule "mcp"]
	path = lib/mcp
	url = https://github.com/lizqwerscott/mcp.el
	ignore = untracked
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = https://github.com/emacs-typescript/typescript.el
	ignore = untracked
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
	ignore = untracked
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
	ignore = untracked
[submodule "sesman"]
	path = lib/sesman
	url = https://github.com/vspinu/sesman
	ignore = untracked
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture
	ignore = untracked
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv
	ignore = untracked
[submodule "alert"]
	path = lib/alert
	url = https://github.com/jwiegley/alert
	ignore = untracked
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
	ignore = untracked
