[include]
	path = .gitremotes
	path = .borgconfig
[submodule "ace-window"]
	path = borg/ace-window
	url = https://github.com/abo-abo/ace-window
	ignore = untracked
[submodule "apheleia"]
	path = borg/apheleia
	url = https://github.com/radian-software/apheleia
	ignore = untracked
[submodule "atcoder-tools"]
	path = borg/atcoder-tools
	url = https://github.com/zkazure/emacs-atcoder-tools.git
	ignore = untracked
[submodule "auctex"]
	path = borg/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	ignore = untracked
[submodule "auto-compile"]
	path = borg/auto-compile
	url = https://github.com/emacscollective/auto-compile
	ignore = untracked
[submodule "avy"]
	path = borg/avy
	url = https://github.com/abo-abo/avy
	ignore = untracked
[submodule "breadcrumb"]
	path = borg/breadcrumb
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
	ignore = untracked
[submodule "cape"]
	path = borg/cape
	url = https://github.com/minad/cape
	ignore = untracked
[submodule "cdlatex"]
	path = borg/cdlatex
	url = https://github.com/cdominik/cdlatex
	ignore = untracked
[submodule "citar"]
	path = borg/citar
	url = https://github.com/emacs-citar/citar
	ignore = untracked
[submodule "citar-org-roam"]
	path = borg/citar-org-roam
	url = https://github.com/emacs-citar/citar-org-roam
	ignore = untracked
[submodule "claude-code-ide"]
	path = borg/claude-code-ide
	url = https://github.com/parsnips/claude-code-ide.el.git
	ignore = untracked
[submodule "cmake-mode"]
	path = borg/cmake-mode
	url = https://github.com/emacsmirror/cmake-mode
	ignore = untracked
[submodule "colorful-mode"]
	path = borg/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode
	ignore = untracked
[submodule "consult"]
	path = borg/consult
	url = https://github.com/minad/consult
	ignore = untracked
[submodule "consult-yasnippet"]
	path = borg/consult-yasnippet
	url = https://github.com/mohkale/consult-yasnippet
	ignore = untracked
[submodule "corfu"]
	path = borg/corfu
	url = https://github.com/minad/corfu
	ignore = untracked
[submodule "csv-mode"]
	path = borg/csv-mode
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
	ignore = untracked
[submodule "cuda-mode"]
	path = borg/cuda-mode
	url = https://github.com/chachi/cuda-mode
	ignore = untracked
[submodule "dash"]
	path = borg/dash
	url = https://github.com/magnars/dash.el
	ignore = untracked
[submodule "diff-hl"]
	path = borg/diff-hl
	url = https://github.com/dgutov/diff-hl
	ignore = untracked
[submodule "diredfl"]
	path = borg/diredfl
	url = https://github.com/purcell/diredfl
	ignore = untracked
[submodule "dumb-jump"]
	path = borg/dumb-jump
	url = https://github.com/jacktasia/dumb-jump
	ignore = untracked
[submodule "ebib"]
	path = borg/ebib
	url = https://github.com/joostkremers/ebib
	ignore = untracked
[submodule "eglot-booster"]
	path = borg/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster.git
	ignore = untracked
[submodule "embark"]
	path = borg/embark
	url = https://github.com/oantolin/embark
	ignore = untracked
[submodule "envrc"]
	path = borg/envrc
	url = https://github.com/purcell/envrc
	ignore = untracked
[submodule "epkg"]
	path = borg/epkg
	url = https://github.com/emacscollective/epkg
	ignore = untracked
[submodule "expand-region"]
	path = borg/expand-region
	url = https://github.com/magnars/expand-region.el
	ignore = untracked
[submodule "gcmh"]
	path = borg/gcmh
	url = https://gitlab.com/koral/gcmh
	ignore = untracked
[submodule "gdscript-mode"]
	path = borg/gdscript-mode
	url = https://github.com/godotengine/emacs-gdscript-mode/
	ignore = untracked
[submodule "ghostel"]
	path = borg/ghostel
	url = https://github.com/dakra/ghostel.git
	ignore = untracked
[submodule "go-mode"]
	path = borg/go-mode
	url = https://github.com/dominikh/go-mode.el
	ignore = untracked
[submodule "gptel"]
	path = borg/gptel
	url = https://github.com/karthink/gptel
	ignore = untracked
[submodule "gptel-magit"]
	path = borg/gptel-magit
	url = https://github.com/ragnard/gptel-magit
	ignore = untracked
[submodule "gt"]
	path = borg/gt
	url = https://github.com/lorniu/gt.el
	ignore = untracked
[submodule "helpful"]
	path = borg/helpful
	url = https://github.com/Wilfred/helpful
	ignore = untracked
[submodule "highlight-parentheses"]
	path = borg/highlight-parentheses
	url = https://sr.ht/~tsdh/highlight-parentheses.el/
	ignore = untracked
[submodule "hydra"]
	path = borg/hydra
	url = https://github.com/abo-abo/hydra
	ignore = untracked
[submodule "imenu-list"]
	path = borg/imenu-list
	url = https://github.com/bmag/imenu-list
	ignore = untracked
[submodule "jinx"]
	path = borg/jinx
	url = https://github.com/minad/jinx
	ignore = untracked
[submodule "leetcode"]
	path = borg/leetcode
	url = https://github.com/zkazure/leetcode.el.git
	ignore = untracked
[submodule "link-hint"]
	path = borg/link-hint
	url = https://github.com/noctuid/link-hint.el
	ignore = untracked
[submodule "magit"]
	path = borg/magit
	url = https://github.com/magit/magit
	ignore = untracked
[submodule "marginalia"]
	path = borg/marginalia
	url = https://github.com/minad/marginalia
	ignore = untracked
[submodule "markdown-mode"]
	path = borg/markdown-mode
	url = https://jblevins.org/projects/markdown-mode/
	ignore = untracked
[submodule "matlab-mode"]
	path = borg/matlab-mode
	url = https://github.com/mathworks/Emacs-MATLAB-Mode
	ignore = untracked
[submodule "mermaid-mode"]
	path = borg/mermaid-mode
	url = https://github.com/abrochard/mermaid-mode
	ignore = untracked
[submodule "move-text"]
	path = borg/move-text
	url = https://github.com/emacsfodder/move-text
	ignore = untracked
[submodule "multiple-cursors"]
	path = borg/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
	ignore = untracked
[submodule "nerd-icons"]
	path = borg/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
	ignore = untracked
[submodule "nerd-icons-completion"]
	path = borg/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion
	ignore = untracked
[submodule "nerd-icons-corfu"]
	path = borg/nerd-icons-corfu
	url = https://github.com/LuigiPiucco/nerd-icons-corfu
	ignore = untracked
[submodule "nerd-icons-dired"]
	path = borg/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
	ignore = untracked
[submodule "nerd-icons-speedbar"]
	path = borg/nerd-icons-speedbar
	url = https://github.com/Akane-6730/nerd-icons-speedbar.git
	ignore = untracked
[submodule "no-littering"]
	path = borg/no-littering
	url = https://github.com/emacscollective/no-littering
	ignore = untracked
[submodule "ob-mermaid"]
	path = borg/ob-mermaid
	url = https://github.com/arnm/ob-mermaid
	ignore = untracked
[submodule "olivetti"]
	path = borg/olivetti
	url = https://github.com/rnkn/olivetti
	ignore = untracked
[submodule "orderless"]
	path = borg/orderless
	url = https://github.com/oantolin/orderless
	ignore = untracked
[submodule "org-appear"]
	path = borg/org-appear
	url = https://github.com/awth13/org-appear
	ignore = untracked
[submodule "org-count-words"]
	path = borg/org-count-words
	url = https://github.com/zkazure/org-count-words.git
	ignore = untracked
[submodule "org-fragtog"]
	path = borg/org-fragtog
	url = https://github.com/io12/org-fragtog
	ignore = untracked
[submodule "org-roam"]
	path = borg/org-roam
	url = https://github.com/org-roam/org-roam
	ignore = untracked
[submodule "org-roam-ui"]
	path = borg/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui
	ignore = untracked
[submodule "org-super-agenda"]
	path = borg/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda
	ignore = untracked
[submodule "org-transclusion"]
	path = borg/org-transclusion
	url = https://github.com/nobiot/org-transclusion
	ignore = untracked
[submodule "ox-gfm"]
	path = borg/ox-gfm
	url = https://github.com/larstvei/ox-gfm
	ignore = untracked
[submodule "ox-hugo"]
	path = borg/ox-hugo
	url = https://ox-hugo.scripter.co
	ignore = untracked
[submodule "ox-pandoc"]
	path = borg/ox-pandoc
	url = https://github.com/emacsorphanage/ox-pandoc
	ignore = untracked
[submodule "projectile"]
	path = borg/projectile
	url = https://github.com/bbatsov/projectile
	ignore = untracked
[submodule "pyim"]
	path = borg/pyim
	url = https://github.com/tumashu/pyim
	ignore = untracked
[submodule "rainbow-delimiters"]
	path = borg/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
	ignore = untracked
[submodule "rime"]
	path = borg/rime
	url = https://www.github.com/DogLooksGood/emacs-rime
	ignore = untracked
[submodule "rust-mode"]
	path = borg/rust-mode
	url = https://github.com/rust-lang/rust-mode
	ignore = untracked
[submodule "sudo-edit"]
	path = borg/sudo-edit
	url = https://github.com/nflath/sudo-edit
	ignore = untracked
[submodule "super-save"]
	path = borg/super-save
	url = https://github.com/bbatsov/super-save
	ignore = untracked
[submodule "symbol-overlay"]
	path = borg/symbol-overlay
	url = https://github.com/wolray/symbol-overlay/
	ignore = untracked
[submodule "unfill"]
	path = borg/unfill
	url = https://github.com/purcell/unfill
	ignore = untracked
[submodule "valign"]
	path = borg/valign
	url = https://github.com/casouri/valign
	ignore = untracked
[submodule "vertico"]
	path = borg/vertico
	url = https://github.com/minad/vertico
	ignore = untracked
[submodule "vertico-buffer-frame"]
	path = borg/vertico-buffer-frame
	url = https://github.com/kn66/vertico-buffer-frame.git
	ignore = untracked
[submodule "visual-fill-column"]
	path = borg/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column
	ignore = untracked
[submodule "visual-regexp"]
	path = borg/visual-regexp
	url = https://github.com/benma/visual-regexp.el/
	ignore = untracked
[submodule "visual-regexp-rx"]
	path = borg/visual-regexp-rx
	url = https://github.com/zkazure/visual-regexp-rx.el.git
	ignore = untracked
[submodule "vundo"]
	path = borg/vundo
	url = https://github.com/casouri/vundo
	ignore = untracked
[submodule "websocket"]
	path = borg/websocket
	url = https://github.com/ahyatt/emacs-websocket
	ignore = untracked
[submodule "wgrep"]
	path = borg/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep/raw/master/wgrep.el
	ignore = untracked
[submodule "which-key-posframe"]
	path = borg/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
	ignore = untracked
[submodule "whole-line-or-region"]
	path = borg/whole-line-or-region
	url = https://github.com/purcell/whole-line-or-region
	ignore = untracked
[submodule "x86-lookup"]
	path = borg/x86-lookup
	url = https://github.com/skeeto/x86-lookup
	ignore = untracked
[submodule "yaml-mode"]
	path = borg/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
	ignore = untracked
[submodule "yasnippet"]
	path = borg/yasnippet
	url = https://github.com/joaotavora/yasnippet
	ignore = untracked
[submodule "borg"]
	path = borg/borg
	url = https://github.com/emacscollective/borg.git
	ignore = untracked
[submodule "aio"]
	path = borg/aio
	url = https://github.com/skeeto/emacs-aio
	ignore = untracked
[submodule "s"]
	path = borg/s
	url = https://github.com/magnars/s.el
	ignore = untracked
[submodule "xr"]
	path = borg/xr
	url = https://github.com/mattiase/xr
	ignore = untracked
[submodule "ht"]
	path = borg/ht
	url = https://github.com/Wilfred/ht.el
	ignore = untracked
[submodule "f"]
	path = borg/f
	url = https://github.com/rejeep/f.el
	ignore = untracked
[submodule "ts"]
	path = borg/ts
	url = https://github.com/alphapapa/ts.el
	ignore = untracked
[submodule "queue"]
	path = borg/queue
	url = https://github.com/emacsmirror/queue.git
	ignore = untracked
[submodule "spinner"]
	path = borg/spinner
	url = https://github.com/Malabarba/spinner.el
	ignore = untracked
[submodule "string-inflection"]
	path = borg/string-inflection
	url = https://github.com/akicho8/string-inflection
	ignore = untracked
[submodule "ansi"]
	path = borg/ansi
	url = http://github.com/rejeep/ansi
	ignore = untracked
[submodule "epl"]
	path = borg/epl
	url = http://github.com/cask/epl
	ignore = untracked
[submodule "popup"]
	path = borg/popup
	url = https://github.com/auto-complete/popup-el
	ignore = untracked
[submodule "shrink-path"]
	path = borg/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
	ignore = untracked
[submodule "shut-up"]
	path = borg/shut-up
	url = http://github.com/rejeep/shut-up.el
	ignore = untracked
[submodule "gntp"]
	path = borg/gntp
	url = https://github.com/tekai/gntp.el
	ignore = untracked
[submodule "log4e"]
	path = borg/log4e
	url = https://github.com/aki2o/log4e
	ignore = untracked
[submodule "pdd"]
	path = borg/pdd
	url = https://github.com/lorniu/pdd.el
	ignore = untracked
[submodule "elisp-refs"]
	path = borg/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
	ignore = untracked
[submodule "edit-indirect"]
	path = borg/edit-indirect
	url = https://github.com/Fanael/edit-indirect
	ignore = untracked
[submodule "citeproc"]
	path = borg/citeproc
	url = https://github.com/andras-simonyi/citeproc-el
	ignore = untracked
[submodule "parsebib"]
	path = borg/parsebib
	url = https://github.com/joostkremers/parsebib
	ignore = untracked
[submodule "parseclj"]
	path = borg/parseclj
	url = https://github.com/clojure-emacs/parseclj
	ignore = untracked
[submodule "parseedn"]
	path = borg/parseedn
	url = https://github.com/clojure-emacs/parseedn
	ignore = untracked
[submodule "tomelr"]
	path = borg/tomelr
	url = https://github.com/kaushalmodi/tomelr
	ignore = untracked
[submodule "htmlize"]
	path = borg/htmlize
	url = https://github.com/hniksic/emacs-htmlize
	ignore = untracked
[submodule "org-noter"]
	path = borg/org-noter
	url = https://github.com/org-noter/org-noter
	ignore = untracked
[submodule "cond-let"]
	path = borg/cond-let
	url = https://github.com/tarsius/cond-let.git
	ignore = untracked
[submodule "llama"]
	path = borg/llama
	url = https://github.com/tarsius/llama.git
	ignore = untracked
[submodule "with-editor"]
	path = borg/with-editor
	url = https://github.com/magit/with-editor.git
	ignore = untracked
[submodule "emacsql"]
	path = borg/emacsql
	url = https://github.com/magit/emacsql.git
	ignore = untracked
[submodule "closql"]
	path = borg/closql
	url = https://github.com/magit/closql.git
	ignore = untracked
[submodule "forge"]
	path = borg/forge
	url = https://github.com/magit/forge
	ignore = untracked
[submodule "ghub"]
	path = borg/ghub
	url = https://github.com/magit/ghub
	ignore = untracked
[submodule "treepy"]
	path = borg/treepy
	url = https://github.com/volrath/treepy.el.git
	ignore = untracked
[submodule "git-modes"]
	path = borg/git-modes
	url = https://github.com/magit/git-modes.git
	ignore = untracked
[submodule "company"]
	path = borg/company
	url = https://github.com/company-mode/company-mode
	ignore = untracked
[submodule "posframe"]
	path = borg/posframe
	url = https://github.com/tumashu/posframe
	ignore = untracked
[submodule "dashboard"]
	path = borg/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard
	ignore = untracked
[submodule "all-the-icons"]
	path = borg/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
	ignore = untracked
[submodule "diminish"]
	path = borg/diminish
	url = https://github.com/myrjola/diminish.el
	ignore = untracked
[submodule "bui"]
	path = borg/bui
	url = https://github.com/alezost/bui.el
	ignore = untracked
[submodule "kirigami"]
	path = borg/kirigami
	url = https://github.com/jamescherti/kirigami.el.git
	ignore = untracked
[submodule "treesit-fold"]
	path = borg/treesit-fold
	url = https://github.com/emacs-tree-sitter/treesit-fold
	ignore = untracked
[submodule "whitespace-cleanup-mode"]
	path = borg/whitespace-cleanup-mode
	url = https://github.com/purcell/whitespace-cleanup-mode
	ignore = untracked
[submodule "js2-mode"]
	path = borg/js2-mode
	url = https://github.com/mooz/js2-mode
	ignore = untracked
[submodule "simple-httpd"]
	path = borg/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
	ignore = untracked
[submodule "skewer-mode"]
	path = borg/skewer-mode
	url = https://github.com/skeeto/skewer-mode
	ignore = untracked
[submodule "web-server"]
	path = borg/web-server
	url = https://github.com/eschulte/emacs-web-server
	ignore = untracked
[submodule "request"]
	path = borg/request
	url = https://github.com/tkf/emacs-request
	ignore = untracked
[submodule "deferred"]
	path = borg/deferred
	url = https://github.com/kiwanami/emacs-deferred
	ignore = untracked
[submodule "deflate"]
	path = borg/deflate
	url = https://github.com/skuro/deflate
	ignore = untracked
[submodule "mcp"]
	path = borg/mcp
	url = https://github.com/lizqwerscott/mcp.el
	ignore = untracked
[submodule "typescript-mode"]
	path = borg/typescript-mode
	url = https://github.com/emacs-typescript/typescript.el
	ignore = untracked
[submodule "yaml"]
	path = borg/yaml
	url = https://github.com/zkry/yaml.el
	ignore = untracked
[submodule "popper"]
	path = borg/popper
	url = https://github.com/karthink/popper
	ignore = untracked
[submodule "sesman"]
	path = borg/sesman
	url = https://github.com/vspinu/sesman
	ignore = untracked
[submodule "pfuture"]
	path = borg/pfuture
	url = https://github.com/Alexander-Miller/pfuture
	ignore = untracked
[submodule "inheritenv"]
	path = borg/inheritenv
	url = https://github.com/purcell/inheritenv
	ignore = untracked
[submodule "alert"]
	path = borg/alert
	url = https://github.com/jwiegley/alert
	ignore = untracked
[submodule "async"]
	path = borg/async
	url = https://github.com/jwiegley/emacs-async
	ignore = untracked
